.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
    color: black;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.error{
    color: red;
    font-size: 10px;
}